pipeline/pl_manejofechas.json
{
	"name": "pl_manejofechas",
	"properties": {
		"activities": [
			{
				"name": "Set FechaActual",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FechaActual",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set FechaFormatoPersonalizado",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set FechaActual",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FechaFormatoPersonalizado",
					"value": {
						"value": "@formatDateTime(variables('FechaActual'),'yyyy-mm-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set FechaInicioMes",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set FechaFormatoPersonalizado",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FechaInicioMes",
					"value": {
						"value": "@startOfMonth(variables('FechaActual'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set FechaSumaPeriodo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set FechaInicioMes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FechaSumaPeriodo",
					"value": {
						"value": "@addToTime(variables('FechaInicioMes'),1,'month')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"FechaActual": {
				"type": "String"
			},
			"FechaInicioMes": {
				"type": "String"
			},
			"FechaFormatoPersonalizado": {
				"type": "String"
			},
			"FechaSumaPeriodo": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Clase Asincrona"
		},
		"annotations": []
	}
}