pipeline/pl_TallerDF.json
{
	"name": "pl_TallerDF",
	"properties": {
		"activities": [
			{
				"name": "ConsultaDatos",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select esquema,\ttabla,\tconsulta,\ttipoTabla\nfrom par.CatIngesta",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Azure_LeerDatos",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Recorrido",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ConsultaDatos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ConsultaDatos').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().TipoTabla,'stock')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "History",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@replace(item().Consulta,'{{fechaCorte}}',pipeline().parameters.FechaCorte)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "Azure_LeerDatos",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "csv_Escribir",
												"type": "DatasetReference",
												"parameters": {
													"Directorio": {
														"value": "@concat('Taller/',item().Esquema,'/',item().Tabla)",
														"type": "Expression"
													},
													"NombreArchivo": {
														"value": "@concat(item().NombreTabla,'csv')",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Stock",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@activity('ConsultaDatos').output.Consulta",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "TB_leer",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "csv_Escribir",
												"type": "DatasetReference",
												"parameters": {
													"Directorio": {
														"value": "@concat('Taller/',item().Esquema,'/',item().Tabla)",
														"type": "Expression"
													},
													"NombreArchivo": {
														"value": "@concat(item().NombreTabla,'csv')",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FechaCorte": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Taller"
		},
		"annotations": []
	}
}